*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    margin-top: 50px;
    max-width: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

nav {
    margin-bottom: 150px;
}
main {
    margin: 100px 0;
}

footer {
    margin: 220px 0 0;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.container {
    margin-top: 120px;
}